.pages-container{
    width: 90%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.content{
    width: 100%;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 25px 8px rgba(0,0,0,0.05);
    -moz-box-shadow: 10px 10px 25px 8px rgba(0,0,0,0.05);
    box-shadow: 10px 10px 25px 8px rgba(0,0,0,0.05);
}
.routes{
    padding: 20px;
}