.sub-page{

}
.sub-page-title{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.sub-page-title::after{
    display: block;
    content: " ";
    height: 3px;
    width: 60px;
    background-color: #65C7F7;
    margin-top: -15px;

    
    
}
.block-content-list {
    margin: 20px 0px;
}