.sub-page{

}
.sub-page-title{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub-page-title>p::after{
    display: block;
    content: " ";
    height: 3px;
    width: 60px;
    background-color: #65C7F7;

    
    
    
}
.block-content-list {
    margin: 20px 0px;
}