
.login-caption{
    margin: 8px auto;
    text-align: center;
}
.login-icon>img{
    width: 20%;
}
.login-icon>p{
    text-align: center;
    color: brown;
    font-size: 12px;
}
.signIn-form{
    width: 85%;
    margin: 10px auto;
}
.input-form{
    font-size: 14px;
    width: 100%;
    margin: 20px auto;
    font-weight: 600;
}
.label{
    margin-top: 10px;
}
.input>input{
    width: 100%;
    border: unset;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.input>input:focus{
    outline: none;
    border-bottom: 1px solid #f7797d;
    transition: border-bottom 2s;
}
.input>input:hover{
    outline: none;
    border-bottom: 1px solid #f7797d;
    transition: border-bottom 2s;
}
.login-btn{
    margin: 10px auto;
    text-align: center;
}
.login-btn>button{
    border: 1px solid #FBD786;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #C6FFDD;
}
.login-btn>button:hover{
    -webkit-box-shadow: 6px -5px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 6px -5px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 6px -5px 5px 0px rgba(0,0,0,0.09);
    outline: none;
}
.login-btn>button:focus{
    outline: none;
}

