.login-container{
    width: 35%;
    margin: 50px auto;
    padding: 24px 16px;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;

}
.header-caption{
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
}
.login-icon img{
    width: 20%;
    margin: 10px auto;
}
@media screen and (max-width: 1000px)  {
    .login-container{
        width: 60%;
    }
}
@media screen and (max-width: 600px)  {
    .login-container{
        width: 80%;
    }
    

}
.footer-caption{
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.footer-caption>p::after {
    display: inline-block;
    content: " ";
    width: 30%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}
.footer-caption>p::before {
    display: inline-block;
    content: " ";
    width: 30%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.3);
}
.btn-form{
    background: #9CECFB;  
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #65c7f7;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;

    
}
.btn-form:hover{
    -webkit-box-shadow: 4px -2px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px -2px 5px 0px rgba(0,0,0,0.16);
    box-shadow: -10px 12px 60px 0px rgba(0,0,0,0.16);
    
    
}
.content-caption{
   padding: 0 20px;
}
.form{
    width: 100%;
    padding: 10px 0 10px 16px;
    text-align: center;
    font-size: medium;
}

.input-form>input{
    margin: 20px auto;
    width: 90%;
    border: unset;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.input-form>input:focus{
    
    outline: none;

}
.input-form>input:hover{
    outline: none;
    border-bottom: 1px solid #65c7f7;
    width: 100%;
    transition: width 1s,  border-bottom 3s;
}
.button-form{
    text-align: center;
    margin: 20px auto;
    

}
.btn-2{
    margin-left: 20px;
}
.select{
    width: 90%;
    outline: none;
    border: none;
    border-bottom:  1px solid rgba(0, 0, 0, 0.3);
    margin: 18px auto;
    color: rgba(0, 0, 0, 0.7);
}
.ant-picker {
    width: 90% !important;
    margin: 18px auto !important;
    border: none !important;
    border-bottom:  1px solid rgba(0, 0, 0, 0.3) !important;
    padding: 11px 0 !important;
    color: rgba(0, 0, 0, 0.7) !important;

    

}
::placeholder {
    color: rgba(0, 0, 0, 0.7) !important;

  }
.ant-picker-suffix {
    color: rgba(0, 0, 0, 0.7) !important;
}
.ant-picker-input > input{
    font-size: 16px !important;
}